<!DOCTYPE html>
<html>
  <head>
    <title>Rushmallow!</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body>
    <div class="block">
        <div class="header">
            <a href="/" class="link"><p class="title">R U S H M A L L O W</p></a>
        </div>
        <div class="content">
            <form class="menu">
                <p>Add new marshmallows pack:</p>
                <label>Name: <input type="text" class="item" name="name" placeholder="my beautiful pack"></label><br>
                <label>Flavour: <input type="text" class="item" name="flavour" placeholder="freshly cut grass"></label><br>
                <input type="button" class="send" value="Add" onclick="sendPack()">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/pack.js"></script>
  </body>
</html>
