<!DOCTYPE html>
<html>
  <head>
    <title>Rushmallow!</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body>
    <div class="block">
        <div class="header">
            <a href="/" class="link"><p class="title">R U S H M A L L O W</p></a>
        </div>
        <div class="content">
            <p>Marshmallow packs list:</p>
            <ul>
            {% for pack in model %}
                <li><a class="link" href="/packs/{{ pack.Guid }}">{{ pack.Guid | escape }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
  </body>
</html>
