<!DOCTYPE html>
<html>
  <head>
    <title>Rushmallow!</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/marshmallow.js"></script>
  </head>
  <body>
    <div class="block">
        <div class="header">
            <a href="/" class="link"><p class="title">R U S H M A L L O W</p></a>
        </div>
        <div class="content">
            <form class="menu">
                <p>Add new marshmallow:</p>
                <label>Sugar (g): <input type="text" class="item" name="sugar" placeholder="1337"></label><br>
                <label>Filling: <input type="text" class="item" name="filling" placeholder="chocolate paste"></label><br>
                <label>IsPrivate: <input type="checkbox" class="item" name="isPrivate"></label><br>
                <input type="submit" class="send" value="Add" onclick="sendMarshmallow()">
            </form>
        </div>
    </div>
  </body>
</html>
