<!DOCTYPE html>
<html>
  <head>
    <title>Rushmallow!</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body>
    <div class="block">
        <div class="header">
            <a href="/" class="link"><p class="title">R U S H M A L L O W</p></a>
        </div>
        <div class="content">
        {% if model %}
            <p>Marshmallow info:</p>
            <label>Guid: <input type="text" class="item" disabled value="{{ model.Guid | escape }}"></label><br>
            <label>Sugar: <input type="text" class="item" disabled value="{{ model.Sugar | escape }}"></label><br>
            <label>Filling: <input type="text" class="item" disabled value="{{ model.Filling | escape }}"></label>
        {% else %}
            <p>Marshmallow not found.</p>
        {% endif %}
        </div>
    </div>
  </body>
</html>
